<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Vulcademy</title>
		<meta name="description" content="A web app to connect teachers and students in real time during classes">
		<meta name="author" content="Vulcademy">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Font Awesome CSS -->
		<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
		<!-- Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
		
		<!-- BEGIN CSS for this page -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
		<!-- END CSS for this page -->
		<link rel="stylesheet" type="text/css" href="src/css/dash-prof.css"/>
		
</head>

<body class="adminbody">

<div id="main">

	<!-- top bar navigation -->
	<div class="headerbar">

		<!-- LOGO -->
        <div class="headerbar-left">
			<a href="index.html" class="logo"><img alt="Logo" src="assets/images/logo.png" /> <span>Vulcademy</span></a>
        </div>

        <nav class="navbar-custom">

                    <ul class="list-inline float-right mb-0">
						
						<li class="list-inline-item dropdown notif">
                            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-fw fa-question-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><small>Help and Support</small></h5>
                                </div>

                                <!-- item-->
                                <a target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item">                                    
                                    <p class="notify-details ml-0">
                                        <b>Do you want custom development to integrate this theme?</b>
                                        <span>Contact Us</span>
                                    </p>
                                </a>

                                <!-- item-->
                                <a target="_blank" href="https://www.pikeadmin.com/pike-admin-pro" class="dropdown-item notify-item">                                    
                                    <p class="notify-details ml-0">
                                        <b>Do you want PHP version of the theme that save dozens of hours of work?</b>
                                        <span>Try Pike Admin PRO</span>
                                    </p>
                                </a>                               

                                <!-- All-->
                                <a title="Clcik to visit Pike Admin Website" target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item notify-all">
                                    <i class="fa fa-link"></i> Visit Pike Admin Website
                                </a>

                            </div>
                        </li>
						
                        <li class="list-inline-item dropdown notif">
                            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-fw fa-envelope-o"></i><span class="notif-bullet"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><small><span class="label label-danger pull-xs-right">12</span>Contact Messages</small></h5>
                                </div>

                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">                                    
                                    <p class="notify-details ml-0">
                                        <b>Jokn Doe</b>
                                        <span>New message received</span>
                                        <small class="text-muted">2 minutes ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">                                    
                                    <p class="notify-details ml-0">
                                        <b>Michael Jackson</b>
                                        <span>New message received</span>
                                        <small class="text-muted">15 minutes ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">                                    
                                    <p class="notify-details ml-0">
                                        <b>Foxy Johnes</b>
                                        <span>New message received</span>
                                        <small class="text-muted">Yesterday, 13:30</small>
                                    </p>
                                </a>

                                <!-- All-->
                                <a href="#" class="dropdown-item notify-item notify-all">
                                    View All
                                </a>

                            </div>
                        </li>
                        
						<li class="list-inline-item dropdown notif">
                            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-fw fa-bell-o"></i><span class="notif-bullet"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg">
								<!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><small><span class="label label-danger pull-xs-right">5</span>Allerts</small></h5>
                                </div>
								
                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-faded">
                                        <img src="assets/images/avatars/avatar2.png" alt="img" class="rounded-circle img-fluid">
                                    </div>
                                    <p class="notify-details">
                                        <b>John Doe</b>
                                        <span>User registration</span>
                                        <small class="text-muted">3 minutes ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-faded">
                                        <img src="assets/images/avatars/avatar3.png" alt="img" class="rounded-circle img-fluid">
                                    </div>
                                    <p class="notify-details">
                                        <b>Michael Cox</b>
                                        <span>Task 2 completed</span>
                                        <small class="text-muted">12 minutes ago</small>
                                    </p>
                                </a>

                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-faded">
                                        <img src="assets/images/avatars/avatar4.png" alt="img" class="rounded-circle img-fluid">
                                    </div>
                                    <p class="notify-details">
                                        <b>Michelle Dolores</b>
                                        <span>New job completed</span>
                                        <small class="text-muted">35 minutes ago</small>
                                    </p>
                                </a>

                                <!-- All-->
                                <a href="#" class="dropdown-item notify-item notify-all">
                                    View All Allerts
                                </a>

                            </div>
                        </li>

                        <li class="list-inline-item dropdown notif">
                            <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="assets/images/avatars/admin.png" alt="Profile image" class="avatar-rounded">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>Hello, admin</small> </h5>
                                </div>

                                <!-- item-->
                                <a href="pro-profile.html" class="dropdown-item notify-item">
                                    <i class="fa fa-user"></i> <span>Profile</span>
                                </a>

                                <!-- item-->
                                <a href="/" class="dropdown-item notify-item">
                                    <i class="fa fa-power-off"></i> <span>Logout</span>
                                </a>
								
								<!-- item-->
                                <a target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item">
                                    <i class="fa fa-external-link"></i> <span>Pike Admin</span>
                                </a>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left">
								<i class="fa fa-fw fa-bars"></i>
                            </button>
                        </li>                        
                    </ul>

        </nav>

	</div>
	<!-- End Navigation -->
	
 
	<!-- Left Sidebar -->
	<div class="left main-sidebar">
			<div class="sidebar-inner leftscroll">
				<div id="sidebar-menu">
					<ul>
						<li class="submenu">
							<a class="active" href="/dashboard-prof"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
						</li>
						<li class="submenu">
							<a href="charts.html"><i class="fa fa-fw fa-area-chart"></i><span> Charts </span> </a>
						</li>			
						<li class="submenu">
							<a href="#"><i class="fa fa-fw fa-tv"></i> <span> User Interface </span> <span class="menu-arrow"></span></a>
								<ul class="list-unstyled">
									<li><a href="ui-alerts.html">Alerts</a></li>
									<li><a href="ui-buttons.html">Buttons</a></li>
									<li><a href="ui-cards.html">Cards</a></li>
									<li><a href="ui-carousel.html">Carousel</a></li>
									<li><a href="ui-collapse.html">Collapse</a></li>
									<li><a href="ui-icons.html">Icons</a></li>
									<li><a href="ui-modals.html">Modals</a></li>
									<li><a href="ui-tooltips.html">Tooltips and Popovers</a></li>
								</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul class="list-unstyled">
									<li><a href="forms-general.html">General Elements</a></li>
									<li><a href="forms-select2.html">Select2</a></li>
									<li><a href="forms-validation.html">Form Validation</a></li>
									<li><a href="forms-text-editor.html">Text Editors</a></li>
									<li><a href="forms-upload.html">Multiple File Upload</a></li>
									<li><a href="forms-datetime-picker.html">Date and Time Picker</a></li>
									<li><a href="forms-color-picker.html">Color Picker</a></li>
								</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-fw fa-calendar"></i> <span> Calenders </span> <span class="menu-arrow"></span></a>
								<ul class="list-unstyled">
									<li><a href="#">Combined</a></li>
									<li><a href="#">MTE 203</a></li>
									<li><a href="#">MTE 204</a></li>
									<li><a href="#">MTE 220</a></li>
									<li><a href="#">MTE 241</a></li>
									<li><a href="#">SYDE 252</a></li>
								</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-fw fa-comments"></i> <span> Chat </span> <span class="menu-arrow"></span></a>
								<ul class="list-unstyled">
									<li><a href="#">MTE 203</a></li>
									<li><a href="#">MTE 204</a></li>
									<li><a href="#">MTE 220</a></li>
									<li><a href="#">MTE 241</a></li>
									<li><a href="#">SYDE 252</a></li>
								</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-fw fa-file-text-o"></i> <span> Archives </span> <span class="menu-arrow"></span></a>
								<ul class="list-unstyled">
									<li><a href="#">Fri. Feb. 23, 2018</a></li>
									<li><a href="#">Thurs. Feb. 22, 2018</a></li>
									<li><a href="#">MTE 220</a></li>
									<li><a href="#">MTE 241</a></li>
									<li><a href="#">SYDE 252</a></li>
								</ul>
						</li>
				</ul>
				<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
	
			</div>
	</div>
	<!-- End Sidebar -->


    <div class="content-page">
	
		<!-- Start content -->
        <div class="content">
            
			<div class="container-fluid">
					
						<div class="row">
									<div class="col-xl-12">
											<div class="breadcrumb-holder">
													<h1 class="main-title float-left">Dashboard</h1>
													<ol class="breadcrumb float-right">
														<li class="breadcrumb-item">Home</li>
														<li class="breadcrumb-item active">Dashboard</li>
													</ol>
													<div class="clearfix"></div>
											</div>
									</div>
						</div>
						<!-- end row -->
						
							<div class="row">
								<label id="switch-toggle" class="switch">
									<input id="switch" type="checkbox" class='disabled'>
									<span class="slider round"></span>
								</label>
								<p id="record-status" style="margin-left: 10px;margin-top:5px;">Lecture Recording</p>
								<p style="margin-left: 750px;margin-top:5px;">You are logged in: <label id="classID"><%= courseName %></label>(<label id="sessionID"><%= sessionID %></label>)</p>
							</div>

							<div class="row">
									<form action = "/post-action" method="post"></form>
										<button id="faster-btn" class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-success">
												<h6 class="text-white text-uppercase m-b-20">Speed Up</h6>
												<i class="fa fa-forward float-center text-white"></i>
											</div>
										</button>
									</form>

									<form action = "/post-action" method="post"></form>
										<button id="slower-btn" class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card-box noradius noborder bg-warning">
												<h6 class="text-white text-uppercase m-b-20">Slow Down</h6>
												<i class="fa fa-play float-center text-white"></i>
											</div>
										</button>
									</form>

									<form action = "/post-action" method="post"></form>
										<button id="louder-btn" class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
												<div class="card-box noradius noborder bg-danger">
														<h6 class="text-white text-uppercase m-b-20">Louder</h6>
														<i class="fa fa-volume-up float-center text-white"></i>	
												</div>
										</button>
									</form>

									<form action = "/post-action" method="post"></form>
										<button class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
												<div id="quieter-btn" class="card-box noradius noborder bg-default">
														<h6 class="text-white text-uppercase m-b-20">Quieter</h6>
														<i class="fa fa-volume-down float-center text-white"></i>
												</div>
										</button>
									</form>
							</div>
							<!-- end row -->

							<!-- star rating -->
							<h5>At the end of the lecture, please provide a rating depending on content and delivery: </h5>
							
							<div class="rating">
								<span><input class="fa fa-star" type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
								<span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
								<span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
								<span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
								<span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
							</div>
							<!-- end star rating -->

							<br/> <br/> <br/>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">		
									<div class="card mb-3">
											<div class="card-header">
												<h3><i class="fa fa-envelope-o"></i> Create a new message</h3>
												<br>Send a message to the professor, select to be anonymous or visible to your class.
											</div>

											<div class="card-body">
													<form action="#" data-parsley-validate novalidate>
															<div class="form-group">
																<label for="userName">Name<span class="text-danger">*</span></label>
																<input type="text" name="nick" data-parsley-trigger="change" required placeholder="Enter Name" class="form-control" id="userName">
															</div>                                               
															<div class="form-group">
																<label>Message</label>
																<div>
																	<textarea required class="form-control" required placeholder="Enter message" ></textarea>
																</div>
															</div>
															<div class="form-group">
																<div class="checkbox">
																	<input id="remember-1" type="checkbox">
																	<label for="remember-1"> Anonymous </label>
																</div>
															</div>
		
															<div class="form-group text-right m-b-0">
																<button id="submit-btn" class="btn btn-primary" type="submit">
																	Submit
																</button>
															</div>		
												</form>
													
										</div>														
									</div><!-- end card-->					
								</div>


												
										<div class="widget-messages nicescroll" style="height: 400px;">
												<a href="#">
													<div class="message-item">
														<div class="message-user-img"><img src="assets/images/avatars/avatar10.png" class="avatar-circle" alt=""></div>
														<p class="message-item-user">Allyson Giannikouris</p>
														<p class="message-item-msg">Will these slides be on Learn?</p>
														<p class="message-item-date">14:25 PM</p>
													</div>
												</a>
												<a href="#">
													<div class="message-item">
														<div class="message-user-img"><img src="assets/images/avatars/avatar5.png" class="avatar-circle" alt=""></div>
														<p class="message-item-user">Feridun Hamdullahpur</p>
														<p class="message-item-msg">Will this lecture be on the midterm?</p>
														<p class="message-item-date">13:20 PM</p>
													</div>
												</a>
												<a href="#">
													<div class="message-item">
														<div class="message-user-img"><img src="assets/images/avatars/avatar2.png" class="avatar-circle" alt=""></div>
														<p class="message-item-user">Carla Daniels</p>
														<p class="message-item-msg">Can you explain how a BST works?</p>
														<p class="message-item-date">11:20 PM</p>
													</div>
												</a>
											</div>
										
											
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">		
												<div class="card mb-3">
														<div class="card-header">
															<h3><i class="fa fa-poll-o"></i>Class poll</h3>
															<br>Share your opinion in a class poll
														</div>
			
														<div class="card-body">
															<div id="poll">
																
															</div>
															
																
													</div>														
												</div><!-- end card-->					
											</div>
			


									</div>
									<div class="card-footer small text-muted">Updated today at 11:59 PM</div>
								</div><!-- end card-->					
							</div>
							<!-- end row -->
            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
    
	<footer class="footer">
		<span class="text-right">
		Copyright <a target="_blank" href="#">Your Website</a>
		</span>
		<span class="float-right">
		Powered by <a target="_blank" href="https://www.pikeadmin.com"><b>Pike Admin</b></a>
		</span>
	</footer>

</div>
<!-- END main -->

<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/moment.min.js"></script>
		
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- iclicker import file for js editing -->
<script src="/iclicker.js"></script>

<script src="assets/js/detect.js"></script>
<script src="assets/js/fastclick.js"></script>
<script src="assets/js/jquery.blockUI.js"></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/plugins/switchery/switchery.min.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>

<!-- App js -->
<script src="assets/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Counter-Up-->
	<script src="assets/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="assets/plugins/counterup/jquery.counterup.min.js"></script>			

	<script>
	$(document).ready(function(){
		$('#example5').click(function(){
			swal("Write something here:", {
				content: "input",
				})
				.then((value) => {
				swal(`You typed: ${value}`);
				});
		});
	});
	</script>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		// Check Radio-box
		$(".rating input:radio").attr("checked", false);

		$('.rating input').click(function () {
			$(".rating span").removeClass('checked');
			$(this).parent().addClass('checked');
		});

		$('input:radio').change(
		function(){
			var userRating = this.value;
			alert(userRating);
		}); 
	});
	</script>
<!-- END Java Script for this page -->

</body>
</html>